<template name="appointment">
  <div class="com-sm-12">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">
          Прием пациента: {{patientName}}
          <a href="#" id="history-link"> | история болезни</a>
          <a href="#" id="cancel-event-link"> | отменить прием</a>
        </h3>
      </div>
      <!-- /.box-header -->
      <!-- form start -->
      <form id="create-appointment-form" role="form">
        <div class="box-body">
          <div class="form-group">
            <label>Формы зубов</label>
            <table border='1' class='teeth-shape-table'>
              <tr>
                {{#each topTeeth}}
                  <td class='tooth-cell' data-tooth-name='top-{{@index}}' contenteditable></td>
                {{/each}}
              </tr>
              <tr>
                {{#each number in teethNumbers}}
                  <td><strong>{{number}}</strong></td>
                {{/each}}
              </tr>
              <tr>
                {{#each bottomTeeth}}
                  <td class='tooth-cell' data-tooth-name='bottom-{{@index}}' contenteditable></td>
                {{/each}}
              </tr>
            </table>
          </div>
          <div class="form-group">
            <label>Симптомы</label>
            <select disabled required id="symptoms-list" class="form-control symptoms-select2" multiple="multiple" data-placeholder="выберите симптомы" style="width: 100%;">
              {{#each symptoms}}
              <option value="{{_id}}">{{name}}</option>
              {{/each}}
            </select>
          </div>
          <div class="row treatment-group">
            <h4 class="col-sm-12">Лечение: 1</h4>
            <div class="form-group col-sm-2">
              <label>Номер зуба:</label>
              <input type="text" class="form-control toothNumber" disabled placeholder="32">
            </div>
            <div class="form-group col-sm-5">
              <label>Диагноз</label>
              <select disabled required class="form-control diagnoses-select2 diagnoses-list" multiple="multiple" data-placeholder="выберите диагноз" style="width: 100%;">
                {{#each diagnoses}}
                <option value="{{_id}}">{{name}}</option>
                {{/each}}
              </select>
            </div>
            <div class="form-group col-sm-5">
              <label>Лечение</label>
              <select disabled required class="form-control treatments-select2 treatments-list" multiple="multiple" data-placeholder="выберите лечение" style="width: 100%;">
                {{#each treatments}}
                <option value="{{_id}}">{{name}}</option>
                {{/each}}
              </select>
            </div>
          </div>
        </div>
        <div class="box-footer">
          <button id="add-treatment-group-button" class="btn btn-warning">
            добавить лечение <i class="fa fa-plus-square"></i>
          </button>
        </div>
        <div class="box-footer">
          <button id="start-button" class="btn btn-primary">Начать</button>
        </div>
        <div class="box-footer">
          <button id="finish-button" type="submit" class="btn btn-danger">Закончить</button>
        </div>
      </form>
    </div>
  </div>
</template>
