<template name="createDoctor">
  <section class="content-header">
      <h1 class="align-center">

      </h1>
  </section>
  <section class="content">
    <div class="col-sm-10 col-sm-offset-1">
      <form id="cd-form" action="#" method="post">
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">Личные данные врача</h3>
          </div>
          <div class="box-body">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-phone-square"></i></span>
              <input required id="cd-phone" type="text" class="form-control" placeholder="+7 700 123 45 67">
            </div>
            <br />
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user"></i></span>
              <input required id="cd-name" type="text" class="form-control" placeholder="Имя">
            </div>
            <br />
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user"></i></span>
              <input required id="cd-surname" type="text" class="form-control" placeholder="Фамилия">
            </div>
            <br />
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
              <input required id="cd-email" type="text" class="form-control" placeholder="ivanov@mail.ru">
            </div>
            <br />
            <div class="form-group">
              <label>выберите клинику</label>
              <select id="cd-clinic" class="form-control">
                {{#each clinics}}
                <option value="{{_id}}">{{name}}</option>
                {{/each}}
              </select>
            </div>
            <br />
            <div class="form-group">
              <label>выберите тип врача</label>
              <select id="cd-doctor-type" class="form-control">
                {{#each doctorTypes}}
                <option value="{{_id}}">{{name}}</option>
                {{/each}}
              </select>
            </div>
          </div>
          <div class="box-footer">
            <button type="submit" class="pull-right btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
    </div>
    <div class="box-body">
      <table class="table table-bordered">
        <tbody><tr>
          <th style="width: 10px">№</th>
          <th>Имя</th>
          <th>Фамилия</th>
          <th>Телефон</th>
          <th>Email</th>
          <th>Клиника</th>
          <th>Тип</th>
        </tr>
        {{#each doctors}}
        <tr>
          <td>{{incIndex @index}}</td>
          <td>{{name}}</td>
          <td>{{surname}}</td>
          <td>{{phone}}</td>
          <td>{{email}}</td>
          <td>{{getClinic clinic}}</td>
          <td>{{getDoctorType doctorType}}</td>
        </tr>
        {{/each}}
      </tbody></table>
    </div>
  </section>
</template>
