<template name="createTreatment">
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Добавьте лечение</h3>
    </div>
    <form role="form" id="ct-form">
      <div class="box-body">
        <div class="form-group">
          <label for="ct-treatment-name">Название</label>
          <input required type="text" class="form-control" id="ct-treatment-name" placeholder="Удаление зуба">
        </div>
        <div class="box-footer">
          <button id="ct-submit" type="submit" class="btn btn-primary">Создать</button>
        </div>
      </div>
    </form>
  </div>
  <div class="box-body">
    <table class="table table-bordered">
      <tbody><tr>
        <th style="width: 10px">№</th>
        <th>Лечение</th>
      </tr>
      {{#each treatments}}
      <tr>
        <td>{{incIndex @index}}</td>
        <td>{{name}}</td>
      </tr>
      {{/each}}
    </tbody></table>
  </div>
</template>
