<template name="mainLayout">
  {{#AdminLTE skin=getSkin sidebarMini="true"}}
    <header class="main-header">
      <!-- Logo -->
      <a href="../../index2.html" class="logo">
        Dentolog
      </a>
      <!-- Header Navbar: style can be found in header.less -->
      <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="http://image000.flaticon.com/icons/svg/128/128613.svg" class="user-image" alt="User Image">
              <span class="hidden-xs">
                {{#each clinic}}
                <li>{{name}}</li>
                {{/each}}
              </span>
            </a>
          </li>
          </ul>
        </div>
      </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
      <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
          {{#if currentUser}}
          <div class="user-panel">
            <div class="pull-left image">
              <img src="http://image000.flaticon.com/icons/svg/147/147285.svg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
              <p>{{currentUser.username}}</p>
              <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
          </div>
          <li class="header">Пациенты</li>
          <li class="{{isActivePath '/registerPatient'}}">
            <a href="/registerPatient">
              <i class="fa fa-user-plus"></i> <span>Добавить и записать</span>
            </a>
          </li>
          <li class="header">Врачи</li>
          <li class="{{isActivePath '/createDoctor'}}">
            <a href="/createDoctor">
              <i class="fa fa-stethoscope"></i> <span>Добавить</span>
            </a>
          </li>
          <li class="{{isActivePath '/createDoctorType'}}">
            <a href="/createDoctorType">
              <i class="fa fa-stethoscope"></i> <span>Добавить тип</span>
            </a>
          </li>
          <li class="header">Клиники</li>
          <li class="{{isActivePath '/createClinic'}}">
            <a href="/createClinic">
              <i class="fa fa-hospital-o"></i> <span>Добавить</span>
            </a>
          </li>
          <li class="header">Приемы</li>
          <li class="{{isActivePath '/createTreatment'}}">
            <a href="/createTreatment">
              <i class="fa fa-medkit"></i> <span>Добавить лечение</span>
            </a>
          </li>
          <li class="{{isActivePath '/createDiagnosis'}}">
            <a href="/createDiagnosis">
              <i class="fa fa-medkit"></i> <span>Добавить диагноз</span>
            </a>
          </li>
          <li class="{{isActivePath '/createSymptom'}}">
            <a href="/createSymptom">
              <i class="fa fa-medkit"></i> <span>Добавить симптом (жалоба)</span>
            </a>
          </li>
          <li class="header">Зубы</li>
          <li class="{{isActivePath '/createTreatment'}}">
            <a href="/createToothStatus">
              <i class="fa fa-envira"></i> <span>Добавить статус</span>
            </a>
          </li>
          <li class="header">Пользователи</li>
          <li class="{{isActivePath '/createRole'}}">
            <a href="/createRole">
              <i class="fa fa-user"></i> <span>Добавить роль</span>
            </a>
          </li>
          <li class="{{isActivePath '/authorizeUser'}}">
            <a id="logout-button" href="#">
              <i class="fa fa-user"></i> <span>Выйти</span>
            </a>
          </li>
          {{else}}
          <li class="{{isActivePath '/authorizeUser'}}">
            <a href="/authorizeUser">
              <i class="fa fa-user"></i> <span>Авторизация</span>
            </a>
          </li>
          <li class="{{isActivePath '/createUser'}}">
            <a href="/createUser">
              <i class="fa fa-plus-square"></i> <span>Регистрация</span>
            </a>
          </li>
          {{/if}}
        </ul>
      </section>
      <!-- /.sidebar -->
    </aside>
    <div class="content-wrapper">
      {{>Template.dynamic template=content}}
    </div>
  {{/AdminLTE}}
</template>
