<template name="createSymptom">
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Добавьте симптом</h3>
    </div>
    <form role="form" id="cs-form">
      <div class="box-body">
        <div class="form-group">
          <label for="cs-symptom-name">Название</label>
          <input required type="text" class="form-control" id="cs-symptom-name" placeholder="Неприятный запах">
        </div>
        <div class="box-footer">
          <button id="cs-submit" type="submit" class="btn btn-primary">Создать</button>
        </div>
      </div>
    </form>
  </div>
  <div class="box-body">
    <table class="table table-bordered">
      <tbody><tr>
        <th style="width: 10px">№</th>
        <th>Симптом</th>
      </tr>
      {{#each symptoms}}
      <tr>
        <td>{{incIndex @index}}</td>
        <td>{{name}}</td>
      </tr>
      {{/each}}
    </tbody></table>
  </div>
</template>
