<template name="createDiagnosis">
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Добавьте диагноз</h3>
    </div>
    <form role="form" id="cd-form">
      <div class="box-body">
        <div class="form-group">
          <label for="cd-diagnosis-name">Название</label>
          <input required type="text" class="form-control" id="cd-diagnosis-name" placeholder="Пульпит">
        </div>
        <div class="box-footer">
          <button id="cd-submit" type="submit" class="btn btn-primary">Создать</button>
        </div>
      </div>
    </form>
  </div>
  <div class="box-body">
    <table class="table table-bordered">
      <tbody><tr>
        <th style="width: 10px">№</th>
        <th>Диагноз</th>
      </tr>
      {{#each diagnoses}}
      <tr>
        <td>{{incIndex @index}}</td>
        <td>{{name}}</td>
      </tr>
      {{/each}}
    </tbody></table>
  </div>
</template>
