<template name="authorizeUser">
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Авторизуйтесь</h3>
    </div>
    <form role="form">
      <div class="box-body">
        <div class="form-group">
          <label for="auth-phone">Номер телефона</label>
          <input type="text" class="form-control" id="auth-phone" placeholder="+7 700 123 45 67">
        </div>
        <div class="form-group">
          <label for="auth-password">Пароль</label>
          <input type="password" class="form-control" id="auth-password" placeholder="пароль">
        </div>
        <div class="box-footer">
          <button id="auth-submit" type="submit" class="btn btn-primary">Отправить</button>
        </div>
      </div>
    </form>
  </div>
</template>
